<!DOCTYPE html>
<html>
  <head>
    <title>Passport - MyMLH example</title>
  </head>
  <body>
    <% if (!user) { %>
			<p>
			<a href="/">Home</a> |
			<a href="/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> |
			<a href="/account">Account</a> |
			<a href="/logout">Log Out</a>
			</p>
		<% } %>

		<% if (!user) { %>
			<h2>Welcome! Please <a href="/login">log In</a>.</h2>
		<% } else { %>
			<h2>Hello, <%= user.displayName %>.</h2>
		<% } %>
  </body>
</html>
