.apple-telepoter{
    overflow-x: hidden;
    overflow-y: auto;
    display: block;
    background: #13141C;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 8px;
    
    position: fixed;
    left: calc(100% - 50px);
    top: 50%;
    transform: translate(-50%,-50%);
    
    padding: 0.5rem;
    
    height: 300px;
    width: auto;
    /* min-width: 50px; */
    
    z-index: 10000;
}
.apple-telepot-ul{
    
    display: flex;
    /* justify-content: space-evenly; */
    flex-direction: column;
    
    height: 100%;
    width: 100%;
    
}
.telepots{
    flex: 1;
    color: #fff;
    font-style: bold;
    font-weight: 900;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
    padding: 1rem;
    
}
.telepots:hover{
    background: #000000;
    transition: all 0.000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001s linear;
    
}
