/* Animation & Sidebar */
@import url(./component/SideBar/sidebar.css);
/* Navbar */
@import url(./component/NavBar/navbar.css);
@import url(./component/NavBar/add_container.css);
@import url(./component/NavBar/profile_container.css);
@import url(./component/NavBar/scan_container.css);
@import url(./component/NavBar/notification_container.css);
/* Contract us & Bottomnavbar */
/* @import url(./component/bottomnavbar/bottomnavbar.css); */
@import url(./component/contractus/contract_us.css);
/* Else */
/* @import url(./component/FooTer/footer.css); */
/* Tailwind Css */
@import url(./tailwind.css);
/* Variables */
@import url(./variable.css);
/* Freefire */
@import url(./component/freefire/freefire_sidebar_left.css);
@import url(./component/freefire/freefire_sidebar_right.css);
@import url(./component/freefire/freefire_bottom.css);

/* Welcome page :) */
@import url(./page/welcome.css);

/* Thailand */
@import url(./ui/component/thailand/thailand_ui_1o9.css);

*,*::before,*::after{
    /* background: var(--X-bg); */
    color: var(--icon-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 1s linear ease-in;
    user-select: none;
    /* Ddbug */
    /* outline: 1px solid #0015FF; */
    /* background: #ECFFF2; */
    
}
a:link,
a:visited,
a:hover,
a:active{
    
    color: var(--icon-color);
    background: transparent;
    
}
input{
    
    background: transparent;
    outline: none;
    border: none;
    
    /* height: 100%; */
    /* width: 100%; */
}
::-webkit-scrollbar{
    
    display: none;
    
}
.icon-visible,
.profile_close {

    display: block;

}
ul,li,h1,h2,h3,h5,h5,h6{
    margin: 0;
    padding: 0;
}
body{
    
    /* overflow: hidden; */
  
    position: relative;
    background: var(--body-bg);
    min-height: 100vh;
    width: 100%;
    
    /* padding-top: calc(var(--navbar-h) + 5px); */
    
    
    
    
}
main{
    
    background: var(--body-bg);
    
    width: 100%;
    
    
    position: relative;
    top: 0;
    left: 0;
    
    
    padding-top: calc(var(--navbar-h) + 10px);
    
    z-index: 0;
}
#main_container{
  
  
  
  min-height: 10rem;
  width: 100%;
  
  
  
  
  
}
.backdrop{
    
    display: none;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);


    position: fixed;
    top: 0;
    left: 0;
    
    height: 100vh;
    width: 100%;
    
    z-index: 9999;
}
.backdrop.active{
    
    display: block;
    
}





/* Useless */
.sidebar_ul_line *,#sidebar_ul_line *{
    column-gap: 0;
    row-gap: 0;
}
.navbar_intro,#navbar_intro,
.navbar_panckeswap-edition#navbar_panckeswap-edition{
    display: none;
}
.contract_us,#contract_us,
.multiverse_bottomnavbar,#multiverse_bottomnavbar{
    display: none;
}

/* Desktop */
@media(min-width:900px){
    /* main{
        
        padding: 0 50px;
        
        width: 100%;
        
        
        
    } */
    /* body{
        
        min-height: 100vh;
        
    } */
    .backdrop.active{
        
        
    }
    
}



/* /////////////////////////////////////////////////////////
                       New Starting ⭐⭐⭐                       
   ////////////////////////////////////////////////////////*/
/* Root */




   
/* Mobile Portrait */

.side_nav,
.bottom_nav,
.contract_us {
    
    display: none;
}


/* Mobile Landscape */





/* All Desktop */




.sidebar,.sidenon_close{
    display: none;
}

























.wallet_not_connect{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 15px;
    
    min-height: 100vh;
    width: 100%;
    
    z-index: -1;
}
.connect_button{
    
    border: var(--border-color);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    width: 200px;
    height: 50px;
}
.wallet_not_connect h1{
    
    font-size: 2.5rem;
    font-style: bold;
    font-weight: 900;
}




