/* Theme */
/* *,*::before,*::after,ion-icon{
    
    background: red !important;
    color: red !important;
    border: 1px solid red !important;
    outline: 1px solid red !important;
    fill: red !important ;
    stroke: red !important ;
    color: red !important ;
    rgba(13, 13, 13, 1)
} */

/* .sidebar-bottom{
    display: none !important;
} */
