<p>ID: <%= user.id %></p>
<p>Name: <%= user.displayName %></p>

<p>Freshbooks Profile as JSON (user._json or user._obj):</p>
<pre> <%= user._json %></pre>

<p>Freshbooks Response Body:</p>
<pre> <%= user._raw %></pre>