[submodule "dx-frontend/core/angular"]
	path = dx-frontend/core/angular
	url = https://github.com/angular/angular
[submodule "dx-frontend/core/astro"]
	path = dx-frontend/core/astro
	url = https://github.com/withastro/astro
[submodule "dx-frontend/core/blitz.js"]
	path = dx-frontend/core/blitz.js
	url = https://github.com/blitz-js/blitz
[submodule "dx-frontend/core/brunch"]
	path = dx-frontend/core/brunch
	url = https://github.com/brunch/brunch
[submodule "dx-frontend/core/react"]
	path = dx-frontend/core/react
	url = https://github.com/facebook/react
[submodule "dx-frontend/core/docusaurus"]
	path = dx-frontend/core/docusaurus
	url = https://github.com/facebook/docusaurus
[submodule "dx-frontend/core/dojo"]
	path = dx-frontend/core/dojo
	url = https://github.com/dojo/framework
[submodule "dx-frontend/core/eleventy"]
	path = dx-frontend/core/eleventy
	url = https://github.com/11ty/eleventy
[submodule "dx-frontend/core/ember"]
	path = dx-frontend/core/ember
	url = https://github.com/emberjs/ember.js
[submodule "dx-frontend/core/gatsby"]
	path = dx-frontend/core/gatsby
	url = https://github.com/gatsbyjs/gatsby
[submodule "dx-frontend/core/gridsome"]
	path = dx-frontend/core/gridsome
	url = https://github.com/gridsome/gridsome
[submodule "dx-frontend/core/hexo"]
	path = dx-frontend/core/hexo
	url = https://github.com/hexojs/hexo
[submodule "dx-frontend/core/hugo"]
	path = dx-frontend/core/hugo
	url = https://github.com/gohugoio/hugo
[submodule "dx-frontend/core/hydrogen-shofify"]
	path = dx-frontend/core/hydrogen-shofify
	url = https://github.com/Shopify/hydrogen
[submodule "dx-frontend/core/hydrogen"]
	path = dx-frontend/core/hydrogen
	url = https://github.com/hydrogen-music/hydrogen
[submodule "dx-frontend/core/ionic-angular"]
	path = dx-frontend/core/ionic-angular
	url = https://github.com/ionic-team/ionic-framework
[submodule "dx-frontend/core/ionic-react"]
	path = dx-frontend/core/ionic-react
	url = https://github.com/ionic-team/ionic-framework
[submodule "dx-frontend/core/jekyll"]
	path = dx-frontend/core/jekyll
	url = https://github.com/jekyll/jekyll
[submodule "dx-frontend/core/middleman"]
	path = dx-frontend/core/middleman
	url = https://github.com/middleman/middleman
[submodule "dx-frontend/core/nextjs"]
	path = dx-frontend/core/nextjs
	url = https://github.com/vercel/next.js
[submodule "dx-frontend/core/nuxtjs"]
	path = dx-frontend/core/nuxtjs
	url = https://github.com/nuxt/nuxt.js
[submodule "dx-frontend/core/parcel"]
	path = dx-frontend/core/parcel
	url = https://github.com/parcel-bundler/parcel
[submodule "dx-frontend/core/polymer"]
	path = dx-frontend/core/polymer
	url = https://github.com/Polymer/polymer
[submodule "dx-frontend/core/preact"]
	path = dx-frontend/core/preact
	url = https://github.com/preactjs/preact
[submodule "dx-frontend/core/redwoodjs"]
	path = dx-frontend/core/redwoodjs
	url = https://github.com/redwoodjs/redwood
[submodule "dx-frontend/core/remix"]
	path = dx-frontend/core/remix
	url = https://github.com/remix-run/remix
[submodule "dx-frontend/core/saber"]
	path = dx-frontend/core/saber
	url = https://github.com/saberland/saber
[submodule "dx-frontend/core/sanity"]
	path = dx-frontend/core/sanity
	url = https://github.com/sanity-io/sanity
[submodule "dx-frontend/core/sapper"]
	path = dx-frontend/core/sapper
	url = https://github.com/sveltejs/sapper
[submodule "dx-frontend/core/scully"]
	path = dx-frontend/core/scully
	url = https://github.com/scullyio/scully
[submodule "dx-frontend/core/solidstart"]
	path = dx-frontend/core/solidstart
	url = https://github.com/solidjs/solid-start
[submodule "dx-frontend/core/storybook"]
	path = dx-frontend/core/storybook
	url = https://github.com/storybookjs/storybook
[submodule "dx-frontend/core/svelte"]
	path = dx-frontend/core/svelte
	url = https://github.com/sveltejs/svelte
[submodule "dx-frontend/core/umijs"]
	path = dx-frontend/core/umijs
	url = https://github.com/umijs/umi
[submodule "dx-frontend/core/zola"]
	path = dx-frontend/core/zola
	url = https://github.com/getzola/zola
[submodule "stencil"]
	path = dx-frontend/core/stencil
	url = https://github.com/ionic-team/stencil
[submodule "vite"]
	path = dx-frontend/core/vite
	url = https://github.com/vitejs/vite

[submodule "vue-next"]
	path = dx-frontend/core/vue
	url = https://github.com/vuejs/vue-next
