[submodule "dx-frontend/frameworks/angular"]
	path = dx-frontend/frameworks/angular
	url = https://github.com/angular/angular
[submodule "dx-frontend/frameworks/astro"]
	path = dx-frontend/frameworks/astro
	url = https://github.com/withastro/astro
[submodule "dx-frontend/frameworks/blitz.js"]
	path = dx-frontend/frameworks/blitz.js
	url = https://github.com/blitz-js/blitz
[submodule "dx-frontend/frameworks/brunch"]
	path = dx-frontend/frameworks/brunch
	url = https://github.com/brunch/brunch
[submodule "dx-frontend/frameworks/react"]
	path = dx-frontend/frameworks/react
	url = https://github.com/facebook/react
[submodule "dx-frontend/frameworks/docusaurus"]
	path = dx-frontend/frameworks/docusaurus
	url = https://github.com/facebook/docusaurus
[submodule "dx-frontend/frameworks/dojo"]
	path = dx-frontend/frameworks/dojo
	url = https://github.com/dojo/framework
[submodule "dx-frontend/frameworks/ember"]
	path = dx-frontend/frameworks/ember
	url = https://github.com/emberjs/ember.js
[submodule "dx-frontend/frameworks/gatsby"]
	path = dx-frontend/frameworks/gatsby
	url = https://github.com/gatsbyjs/gatsby
[submodule "dx-frontend/frameworks/gridsome"]
	path = dx-frontend/frameworks/gridsome
	url = https://github.com/gridsome/gridsome
[submodule "dx-frontend/frameworks/hugo"]
	path = dx-frontend/frameworks/hugo
	url = https://github.com/gohugoio/hugo
[submodule "dx-frontend/frameworks/hydrogen-shofify"]
	path = dx-frontend/frameworks/hydrogen-shofify
	url = https://github.com/Shopify/hydrogen
[submodule "dx-frontend/frameworks/hydrogen"]
	path = dx-frontend/frameworks/hydrogen
	url = https://github.com/hydrogen-music/hydrogen
[submodule "dx-frontend/frameworks/ionic-angular"]
	path = dx-frontend/frameworks/ionic-angular
	url = https://github.com/ionic-team/ionic-framework
[submodule "dx-frontend/frameworks/ionic-react"]
	path = dx-frontend/frameworks/ionic-react
	url = https://github.com/ionic-team/ionic-framework
[submodule "dx-frontend/frameworks/jekyll"]
	path = dx-frontend/frameworks/jekyll
	url = https://github.com/jekyll/jekyll
[submodule "dx-frontend/frameworks/middleman"]
	path = dx-frontend/frameworks/middleman
	url = https://github.com/middleman/middleman
[submodule "dx-frontend/frameworks/nextjs"]
	path = dx-frontend/frameworks/nextjs
	url = https://github.com/vercel/next.js
[submodule "dx-frontend/frameworks/nuxtjs"]
	path = dx-frontend/frameworks/nuxtjs
	url = https://github.com/nuxt/nuxt.js
[submodule "dx-frontend/frameworks/parcel"]
	path = dx-frontend/frameworks/parcel
	url = https://github.com/parcel-bundler/parcel
[submodule "dx-frontend/frameworks/polymer"]
	path = dx-frontend/frameworks/polymer
	url = https://github.com/Polymer/polymer
[submodule "dx-frontend/frameworks/redwoodjs"]
	path = dx-frontend/frameworks/redwoodjs
	url = https://github.com/redwoodjs/redwood
[submodule "dx-frontend/frameworks/remix"]
	path = dx-frontend/frameworks/remix
	url = https://github.com/remix-run/remix
[submodule "dx-frontend/frameworks/saber"]
	path = dx-frontend/frameworks/saber
	url = https://github.com/saberland/saber
[submodule "dx-frontend/frameworks/sanity"]
	path = dx-frontend/frameworks/sanity
	url = https://github.com/sanity-io/sanity
[submodule "dx-frontend/frameworks/sapper"]
	path = dx-frontend/frameworks/sapper
	url = https://github.com/sveltejs/sapper
[submodule "dx-frontend/frameworks/solidstart"]
	path = dx-frontend/frameworks/solidstart
	url = https://github.com/solidjs/solid-start
[submodule "dx-frontend/frameworks/stencil"]
	path = dx-frontend/frameworks/stencil
	url = https://github.com/ionic-team/stencil
[submodule "dx-frontend/frameworks/storybook"]
	path = dx-frontend/frameworks/storybook
	url = https://github.com/storybookjs/storybook
[submodule "dx-frontend/frameworks/svelte"]
	path = dx-frontend/frameworks/svelte
	url = https://github.com/sveltejs/svelte
[submodule "dx-frontend/frameworks/umijs"]
	path = dx-frontend/frameworks/umijs
	url = https://github.com/umijs/umi
[submodule "dx-frontend/frameworks/vite"]
	path = dx-frontend/frameworks/vite
	url = https://github.com/vitejs/vite
[submodule "dx-frontend/frameworks/vue"]
	path = dx-frontend/frameworks/vue
	url = https://github.com/vuejs/vue-next
[submodule "dx-frontend/frameworks/zola"]
	path = dx-frontend/frameworks/zola
	url = https://github.com/getzola/zola

