<!DOCTYPE html>
<html>
	<head>
		<title>Passport-Authic Sample App</title>
	</head>
	<body>
		
		<% if (!user) { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/login">Log In</a>| 
			<a href="/register">Register</a>
			</p>
		<% } else { %>
			<p>
			<a href="/">Home</a> | 
			<a href="/account">My Account</a> | 
			<a href="/logout">Log Out</a>
			</p>
		<% } %>
		
		<h1>Passport-Authic Sample App</h1>
    <% if (!user) { %>
    	<h2>Welcome! Please <a href="/login">log in.</h2>
    <% } else { %>
    	<h2>Hello, <a href="/account"><%= user.username %></a></h2>
    	<p>ID: <%= user.id %></p>
      <p>Username: <%= user.username %></p>
      <p>Name: <%= user.displayName %></p>
    <% } %>
	</body>
</html>