    * {
        padding: 0;
        margin: 0;
    }

    body {
        overflow: hidden;
    }

    canvas {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
    }
