<% if (!user) { %>
	<h2>Welcome! Please log in.</h2>
	<a href="/auth/qq"><img src="http://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/Connect_logo_7.png"/></a>
<% } else { %>
	<h2>Hello, <%= user.nickname %>.</h2>
<% } %>
