[submodule "inspirations/react"]
	path = inspirations/react
	url = https://github.com/facebook/react.git
[submodule "inspirations/astro"]
	path = inspirations/astro
	url = https://github.com/withastro/astro.git
[submodule "inspirations/next.js"]
	path = inspirations/next.js
	url = https://github.com/vercel/next.js.git
[submodule "inspirations/angular"]
	path = inspirations/angular
	url = https://github.com/angular/angular.git
[submodule "inspirations/nuxt"]
	path = inspirations/nuxt
	url = https://github.com/nuxt/nuxt.git
[submodule "inspirations/bun"]
	path = inspirations/bun
	url = https://github.com/beingofexistence/bun.git
[submodule "inspirations/nodejs"]
	path = inspirations/nodejs
	url = https://github.com/beingofexistence/nodejs.git
[submodule "inspirations/docker-compose"]
	path = inspirations/docker-compose
	url = https://github.com/beingofexistence/docker-compose.git
