doctype html
html
  head
    title Passport-Stash Example

  body
    if !user
      p
        a(href="/") Home
        | &nbsp;|&nbsp;
        a(href="/login") Log In

    else
      p
        a(href="/") Home
        | &nbsp; | &nbsp;
        a(href="/account") Account
        | &nbsp; | &nbsp;
        a(href="/logout") Log Out

    block content
