node_modules
*.log
.idea
*.iml
*.sw*
!.swcrc
dist
*.DS_Store
.cache
junit.xml
test-results
/repros
/sandbox
/bench
.verdaccio-cache
.next

# Yarn stuff
/**/.yarn/*
!/**/.yarn/releases
!/**/.yarn/plugins
!/**/.yarn/sdks
!/**/.yarn/versions
/**/.pnp.*
!/node_modules

# test-storybooks
test-storybooks/ember-cli/ember-output
test-storybooks/angular-cli/addon-jest.testresults.json


npm-shrinkwrap.json
.tern-port
.parcel-cache
coverage/
*.lerna_backup
/**/LICENSE
code/docs/public
package-lock.json
storybook-static
.jest-test-results.json
*.jar
/false
/addons/docs/common/config-*
tsconfig.tsbuildinfo

code/test-results/
code/playwright-results/
code/playwright-report/
code/playwright/.cache/
code/bench-results/

/packs